<%- include('header.html'); -%>

<div class="content-page">
    <div class="container-fluid">
       <div class="row">
           <div class="col-lg-12">
               <div class="card">
                   <div class="card-body">
                       <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                           <h5>Your modules</h5>
                           <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <form id="query_form" name="query_form" action="/modules" method="post" >
                                <div class="form-group mb-3" style="margin-right: 20px; margin-top: 20px;">
                                    <select name="status2" class="selectpicker form-control" id="status2"   data-style="py-0">
                                      <%if(status && status == "active") {%>
                                        <option value="active" selected>Active</option>
                                        <option value="suspended" >Suspended</option>
                                        <%}else if(status && status == "suspended") {%>
                                            <option value="active" >Active</option>
                                            <option value="suspended" selected>Suspended</option>
                                            <%}else {%>
                                                <option value="active" selected>Active</option>
                                                <option value="suspended" >Suspended</option>
                                                <%}%>
                                     
                                    </select>
                                </div>
                            </form> 
                              
                               <div class="list-grid-toggle d-flex align-items-center mr-3">
                                   <div data-toggle-extra="tab" data-target-extra="#grid" class="active">
                                       <div class="grid-icon mr-3">
                                           <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                               <rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect>
                                           </svg>
                                       </div>
                                   </div>
                                
                               </div>
                               <div class="pl-3 border-left btn-new">
                                   <a href="#" class="btn btn-primary"   onclick="openmodel()" data-toggle="modal">New Module</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
           <div class="row">
            <% data.forEach(function(entry) { %>
                <div class="col-lg-4 col-md-6">
                    <%if(entry.status == 2) {%>
                        <div class="card card-block card-stretch card-height"  >
                        <%}else {%>
                            <div class="card card-block card-stretch card-height" style="background-color: gainsboro;">
                            <%}%>
                  
                        <div class="card-body">
                          
                            <h5 class="mb-1"><%=entry.title%></h5>
                            <p class="mb-3"><%=entry.discription%></p>
                            <div class="d-flex align-items-center justify-content-between pt-3 border-top">
                             <div class="col-md-3" style="display: flex; align-items: center;">
                                 <p style="color: red;margin: 0; text-align: center;"> Price: $<%=entry.price%></p>
                             </div>
                             <div class="col-md-5"  style="display: flex; align-items: center;" >
                                 <p style="color: green;margin: 0; text-align: center;" >Duriation: <%=entry.duration%> min</p>
                             </div>
                             <div class="col-md-4" style="display: flex; align-items: center;">
                                 <p style="color: blue;margin: 0; text-align: center;"> No Videos: <%=entry.no_of_vids%></p>
                             </div>
                            </div>
                            <div class="d-flex justify-content-between pt-3 border-top">
                                <button type="button" class="btn btn-outline-secondary mt-2">View Videos</button>
                                <div>
                                    <% if(user._id.toString() == entry.user_id.toString()) {%>
                                  <button type="button" class="btn btn-danger mt-2" onclick="deltelte_module('<%=entry._id%>')" ><i class="ri-delete-bin-2-fill pr-0"></i></button>
                                  <button type="button" class="btn btn-warning mt-2" onclick="edit_modeule('<%=entry._id%>','<%=entry.title%>','<%=entry.discription.replace(/\r?\n|\r/g, '')%>','<%=entry.price%>',' <%=entry.duration%>', '<%=entry.status%>')"><i class="ri-edit-2-fill"></i></button>
                                        <%}%>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <%})%>
           
         
             
                
           </div>
       </div>
       
       <!-- Page end  -->
   </div>
</div>

    <!-- Modal list start -->
    <div class="modal fade" role="dialog" aria-modal="true" id="new-project-modal">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bttom">
                    <h3 class="modal-title" id="exampleModalCenterTitle01">New Module</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="hidden" id="_id" name="_id" />
                            <p style="color: red;" id="mes"></p>
                            <div class="form-group mb-3">
                                <label for="exampleInputText01" class="h5">Module Title*</label>
                                <input type="text" class="form-control" id="m_title" name="m_title" placeholder="Module Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText004" class="h5">Price*</label>
                                <input type="number" class="form-control" id="price" value="">
                            </div>                        
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Status*</label>
                                <select name="status" class="selectpicker form-control" id="status"  data-style="py-0">
                                    <option value="active">Active</option>
                                    <option value="suspended">Suspended</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText004" class="h5">Hours*</label>
                                <input type="number" class="form-control" id="hours" name="hours">
                            </div>                        
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText004" class="h5">Mintues*</label>
                                <input type="number" class="form-control" id="min" name="min">
                            </div>                        
                        </div>
                       
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText07" class="h5">Description*</label>
                               <textarea class="form-control" name="desc" id="desc" rows="3"  >

                               </textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                <div class="btn btn-primary mr-3"   onclick="save_modeule()" >Save</div>
                                <div class="btn btn-primary" data-dismiss="modal">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include('footer.html'); -%>


<script>
 
$("#status2").change(function () {
    $('#query_form').submit();
    });

    function save_modeule() {
        let _id = $("#_id").val();
        let title = $("#m_title").val();
        let price = $("#price").val();
        let status = $('#status').val();
        let hours = $('#hours').val();
        let min = $('#min').val();
        let desc = $('#desc').val();
        if(min.length > 2 || min > 59) {
                $('#mes').text("Please put a propor duration");
            }  else {
                if (title.length === 0 || price.length === 0 || status.length === 0 || hours.length === 0 || min.length === 0 || desc.length === 0) {
            $('#mes').text("Please fill the required fields");
        } else {
            $.ajax({
                url: '/save_modules',
                type: 'post',
                data: {
                    _id:_id,
                    title:title,
                    price:price,
                    status:status,
                    hours:hours,
                    min:min,
                    desc:desc,
                },
                dataType: "json",
                success: function(res) {
                    if(res.success) {
                    window.location.reload(true);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
                });
            }
        }
    
        
    }
   
    function deltelte_module(id) {
        $.ajax({
                url: '/delete_modules',
                type: 'post',
                data: {
                    _id: id
                },
                beforeSend: function () {
                    return confirm("Are you sure? all of the videos under this module will be deleted");
                },
                dataType: "json",
                success: function(res) {
                    if(res.success) {
                        Swal.fire(res.message);
                    window.location.reload(true);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
                });
    }

    function edit_modeule(id,title,description,price,duration,status) {
        let minss = duration.split(":")[1];
        let hourss = duration.split(":")[0];
        console.log("the duration", typeof(hourss));
        console.log("the minn", typeof(minss));
        let status_val ;
        if(status === "2") {
            status_val = "active";
        }else {
            status_val = "suspended";
        }
        $('#_id').val(id);
        $('#m_title').val(title);
        $('#price').val(price);
        $('#hours').val(Number(hourss));
        $('#min').val(Number(minss));
        $('#desc').val(description);
        $('#status').val(status_val).change();
        $('#new-project-modal').modal('show');
    }

    function openmodel() {
        $('#_id').val("");
        $('#m_title').val("");
        $('#price').val("");
        $('#status').val("active").change();
        $('#hours').val("");
        $('#min').val("");
        $('#desc').val("");
        $('#new-project-modal').modal('show');
    }
</script>